[Unit]
Description=Service for using Adafruit Sharp Memory Display with Raspberry Pi
After=multi-user.target
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
#User=root
Type=idle
ExecStart=/usr/bin/python3 /home/username/adafrui-sharp-memory-display
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=multi-user.target